<GridLayout rows="*, auto">
    <StackLayout row="0">
        <ScrollView>
            <StackLayout padding="15 10 10 10">

                <Label height="250" width="100%" borderRadius="5" class="skeleton-light"
                    horizontalAlignment="center"></Label>
                <Label height="30" width="170" borderRadius="5" class="skeleton-light"
                    margin="20 0 5 0" horizontalAlignment="left"></Label>
                <Label *ngFor="let item of [1,2,3,4,5,6,7,8,9]" height="20"
                    width="100%" borderRadius="5" class="skeleton-light"
                    marginTop="10" horizontalAlignment="left"></Label>
            </StackLayout>
        </ScrollView>
    </StackLayout>
    <Label row="1" height="70" width="95%" borderRadius="35" class="skeleton-accent"
        margin="10" horizontalAlignment="center"></Label>
</GridLayout>