<StackLayout>
    <ListView class="list-group" [items]="[1,2,3,4,5,6,7,8,9,10]" style="height:100%">
        <ng-template let-current="item">
            <FlexboxLayout flexDirection="row">
                <GridLayout rows="*, 2*" columns="100, *, 10" class="skeleton-light" height="100"
                    margin="2.5 10" padding="10 0" borderRadius="10">
                    <StackLayout row="0" rowSpan="2" col="0" class="skeleton-dark"
                        height="80" width="80" verticalAlignment="center"
                        horizontalAlignment="center" borderRadius="40"></StackLayout>
                    <StackLayout row="0" col="1" class="skeleton-dark"
                        height="14" width="25%" verticalAlignment="center"
                        horizontalAlignment="left" borderRadius="5"></StackLayout>
                    <StackLayout row="1" col="1" class="skeleton-dark"
                        height="45" width="100%" verticalAlignment="center"
                        horizontalAlignment="left" borderRadius="5"></StackLayout>
                </GridLayout>
            </FlexboxLayout>
        </ng-template>
    </ListView>
</StackLayout>